/* CSS Document */

body {
	background-color:#f7f7f7;
	margin:0; 
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
}


/* COLOR DEFINITIONS 

Page white: #fff
Page gray: #f7f7f7
Footer gray: #dedede
Border color: #ccc
Gray text (inverse): #999;
Gray text: #666
Header gray: #333

Strong blue: #0168db (link) / #084fab (backgrounds)
Bright blue: #009ff5
Highlight blue: #e4efff
Muted blue-gray: #8fb1e8
Dark blue: #002f7a

Alert yellow: #fffcc9
Dark yellow: #eee880

Success text green: #66cf36
Success green: #dbffc9
Bright green: #63ed00

Warning text red: #d40000
Bright red: #ff4f4f
Warning red bg: #ffe2de

*/

/* RESET / DEFAULT  - from xdat.css */

h2, h3, h4 { line-height: 1 ; }
h3 { margin: 0 !important ; }
p, table { font-size: 12px ; line-height: 1.3 ; }
p { margin: 0; }
th { margin: 0 ; border-collapse: collapse ; padding: 0 4px ; }
td {  }
a.plainText { text-decoration: none ; color: black ; }
a { cursor: pointer !important ; text-decoration: none ; color: #0168db ; }
a:hover { cursor: pointer !important ; }
img { border: none ; }
form { font-size: 12px ; }
input {  }
select {  }
.hidden { display: none !important; }

/*
 * =========================== DEFAULT UI ELEMENTS =======================
 */

/* DEFAULT TYPE STYLES */

h1, h2, h3 { font-weight: normal; margin: 1em 0 0.25em; }
h4, h5, h6 { font-weight: bold; margin: 1em 0 0.5em; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; color: #084fab }
li { font-size: 13px; margin: 0 0 1em; }
a, a:visited { color: #0168db; text-decoration:underline }
a:hover { color: #009ff5 }
a:active { color: #e4efff }

.odd { background-color: #fff; }
.even { background-color: #f3f3f3; }


/* TOOL TIPS */

/* icon and text tooltip common styles */
.tip_text,
.tip_icon { display: inline-block ; position: relative ; overflow: visible ; }
.tip_text:hover,
.tip_icon:hover { cursor: help ; }

/* the tooltip box common styles */
.tip_text .tip,
.tip_icon .tip { 
	background-color: #ffa ; 
	border: 1px solid #ccc ; 
	color: #666 ; 
	display: none ; 
	font-size: 11px ; 
	line-height: 14px ; 
	padding: 8px ; 
	position: absolute ; left: 20px ; top: -5px ; 
	text-align: left ; 
	width: 400px ; 
}
.tip_text:hover .tip,
.tip_icon:hover .tip { display: block ; z-index: 11 ; }

/* tooltip using text */
.tip_text { font-weight: normal ; border-bottom: 1px dotted #888 ; color: #002f7a; }
.tip_text .tip { left: 80px ; }

/* tooltip using icon styles */
.tip_icon { width: 14px ; height: 14px ; left: 4px ; top: 3px ; background: transparent url('furniture/qm.gif') center center no-repeat  ; }
.shadowed {
	box-shadow: 0px 4px 8px #a0a0a0;
	-moz-box-shadow: 0px 4px 8px #a0a0a0;
	-webkit-box-shadow: 0px 4px 8px #a0a0a0;
}

/* ALERTS & MESSAGES TO USERS */

div.warning, 
div.error, 
div.message,
div.note { 
	background-color: #f7f7f7;
	border-bottom: 1px solid #999;
	border-top: 4px solid #c7c7c7; 
	color: #444;
	padding: 5px 10px;
	position: relative; top:-20px; left:-10px;
	width: 980px;
}
	div.warning { background-color: #ffa; border-top-color: #cc8; } 
	div.error { background-color: #fbe; border-top-color: #d9c; } 
	div.message { background-color: #e4efff; border-top-color: #c4cfdf; }
	div.note, div.message { padding: 20px 10px; } 
	
.warning-inbody { 
	background: url('furniture/icon-alert-lg.png') 10px center no-repeat #ffa; 
	border: 1px solid #cc8;
	font-size: 16px;
	padding: 10px 10px 10px 70px;
} 

#warning_bar { 
	background: #ffa ; 
	border: 1px solid #ee9 ; 
	border-left: none ; 
	color: #444 ; 
	font-size: 11px ; 
	line-height: 20px ; 
	min-height: 20px ; 
	padding: 2px;
	position: absolute ; left: 0 ; top: 0 ; 
	vertical-align: middle ; 
	width: 550px ; 
}
	#warning_bar > span { padding: 0 4px ; }
	#warning_bar .close:hover { cursor: pointer ; }
	#warning_bar .tip_text { border: none ; }
	#warning_bar .tip_text i { border-bottom: 1px dotted #888 ; font-style: normal ; }
	#warning_bar .tip_text .tip { left: 0 ; top: 28px ; width: 250px ; }

#aspera_messagebar { /* positioned dynamically above #layout_content */
	background-color: #fff; 
	border: 1px solid #ccc; 
	display: block; 
	margin: 0 auto; 
	padding: 0; 
	position: relative;
	width: 1000px; 
}
	#aspera_messagebar .note, 
	#aspera_messagebar .warning { font-size: 14px; line-height: 18px; top: 0; left: 0; } 
	#aspera_messagebar .note { background-color: #e7e7e7; border-top-color: #c7c7c7; }
		.note .warning-inset, 
		.warning .warning-inset { color: #c60; display: inline-block; font-weight: bold; margin-top: 18px; vertical-align: top; width: 210px; }
		.note .message-inset, 
		.warning .message-inset { border-left: 1px solid #999; display: inline-block; padding-left: 30px; width: 700px; }

/* BUTTONS */

button, .button, a.button, .keyword.button {
	display: inline-block ; margin: 2px ; padding: 2px 6px !important ;
	color: #333 ; border: 1px solid #d3d3d3 ; border-radius: 0 ; font-size: 12px ; font-weight: normal ;
	background: #f0f0f0 url('furniture/btn2_30px.png') top center repeat-x  ; text-decoration: none !important ; }
button:hover, .button:hover { cursor: pointer ; /* color: #186ec4 ; */ }
button.active, .button.active { color: #fff !important ; background-color: #084FAB ; background-image: url('furniture/btn1_30px.png') ; border: 1px solid #508AD0;  }

#download_box button {
	font-size: 13px ;
	padding: 2px 6px ;
	/* CSS3 rounded corners */
	border: 1px solid #999 ;
	-moz-border-radius: 4px ; /* FF1+ */
	-webkit-border-radius: 4px ; /* Saf3-4 */
	border-radius: 4px ; /* Opera 10.5, IE 9, Saf5, Chrome */
}

.ie #download_box button { border-radius: 4px ; }
/*
.ie7 #download_box button,
.ie8 #download_box button { border-radius: 3px ; behavior: url('border-radius.htc') ; }
*/

#download_box button[disabled=disabled] { background: #e0e0e0 ; color: #909090 ; border-color: #c0c0c0 }
#download_box button[disabled=disabled]:hover { cursor: default ; }
#download_box button.download { font-weight: bold ; color: #fff ; background: #080 url('furniture/dl_btn_bkgd.png') center center repeat-x  ; border: 1px solid #060 ; }
#download_box button.download[disabled=disabled] { color: #cfe5cf ; background: #a3cca3 ; border-color: /* #7db37d */ #8fbf8f ; }

.btn1, .btn2, .btn3 { background-position: center center ; background-repeat: repeat-x ; display: inline-block ; padding: 3px 8px ; text-decoration: none ; }

.btn1 { background-image: url('furniture/btn1_30px.png') ; border: 1px solid #508ad0 ; color: #fff; }
.btn2 { background-image: url('furniture/btn2_30px.png') ; border: 1px solid #d3d3d3 ; }
.btn3 { background-image: url('furniture/btn3_30px.png') ; border: 1px solid #060 ; color: #fff; }
.btn1:hover, .btn2:hover, .btn3:hover { opacity: 0.9; filter: alpha(opacity=90); border-color: #888; } 

.button-large {
	background: url('furniture/btn-bg-tall.png') left center repeat-x; 
	border: 1px outset #a0a0a0; 
	border-radius: 3px;
	margin-left:20px; 
	max-width: 300px;
	padding: 12px;
	float:right; 
}
	.button-large:hover {
		background: url('furniture/btn-bg-tall-pressed.png') left center repeat-x #d7d7d7; 
		border-color: #999; 
		cursor: pointer;
	}
	.button-large:active {
		background: url('furniture/btn-bg-tall-pressed.png') left center repeat-x #d7d7d7; 
		border: 1px inset #999;
		cursor: pointer;
	}
	.button-large p { color: #444; font-size: 12px !important; }
	
/* FORM ELEMENTS */

input, button, input[type="submit"] { font-family: Arial, Helvetica, sans-serif ; font-size: inherit ; }
button, input[type="submit"], input[type="button"] {  }

.formLabel,
.formLabelRequired,
.formSublabel { text-align: left; white-space: nowrap ; }

.formLabelRequired b { color: red ; }

	/* Friendly Form - used on site login & registration */ 
	
	.friendlyForm p {
		font-size: 16px !important;
		line-height: 1.4em !important;
		margin-bottom: 1em;
		position: relative;
	}
	.friendlyForm label {
		display:block;
		font-size: 12px !important;
	}
	.friendlyForm input[type=text], .friendlyForm input[type=password] {
		font-size: 14px !important;
		padding: 6px;
		width: 96%;
	}
	.inputWrapper {
		border-radius: 6px;
		margin-bottom:6px;
		padding:6px;	
		position: relative;
	}
	.inputWrapper.highlighted {
		background-color: #e4efff;
	}
	.inputWrapper.error {
		background-color: #fde; border: none; padding: 6px; position: relative; top: 0; left: 0; width: inherit;	/* override other .error styles */
	}
	.friendlyForm p.error {
		color: #c33;
		font-size: 12px !important; 
		font-weight: bold;
		margin-left: 6px;
	}
	.inputWrapper label {
		color: #333;
	}
	.inputWrapper input[type=text],.inputWrapper input[type=password] {
		width: 330px;
	}
	.inputWrapper .helptext {
		color: #888;
		font-size: 12px;
		line-height: 14px;
		position: absolute; bottom: 18px; left: 425px;
	}
	p.form-submit {
		font-size:12px !important;
		text-align: right; 
	}
	.form-submit input, .request-access input, .overlay-action input {	
		font-size: 16px !important;
		padding:6px 12px;
	}
	.request-access input {
		float:right;
	}

/*
 * ====================== PAGE LAYOUT ELEMENTS =======================
 */

#topbar-container {
	background-color: #333;
	color: #999;
	height: 48px;
	position: relative;
	top: 0; 
	left: 0;
	width: 100%;
	z-index: 9999;
}
#topbar-positioner {
	height: 48px; /* change this if topbar-container height changes */
	z-index: -1;
}
#topbar {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 1000px;
}

#topbar #leftgroup {
	position: absolute; top: 0; left: 0;
}
	#site-logo {
		border-right: 1px solid #444;
		float: left;
		height: 48px;
		overflow: hidden;
		width: 220px; 
	}
	#site-logo img {
		border:0;
	}
	#browse-data {
		display:none; 
		/* hide this temporarily */
		border-right:1px solid #444;
		height: 18px;
		padding: 16px 30px 14px;
		position: absolute; top: 0; left: 220px;
		float:left; 
		white-space: nowrap;
	}
	#browse-data ul {
		display:none
	}
#topbar #rightgroup {
	position: absolute; top: 0; right: 0;
}
	#search {
		float:left;
		padding: 10px 5px;
	}
			#search_btn { 
				border-radius: 4px; 
				color: #fff; 
				padding: 5px 8px 4px;
			}
	#topbar input {
		border:none;
		color: #666;
		font-size: 14px;
		padding: 4px 6px;
		border-radius: 3px;
		width: 237px;
	}
	#topbar select {
		background-color: #666; 
		border:none;
		border-radius: 3px;
		color: #ccc;
		font-size:14px;
		padding: 3px 6px;
	}
	#user-info {
		float: left;
		padding: 10px 5px;
	}
	#topbar-help {
		display:none;
		/* hide this temporarily */
		padding: 16px 0;
		width: 16px; 
		float: left;
	}
	
#layout_content {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	box-shadow: 0px 0px 16px #ccc;
	min-height: 600px;
	margin: 0 auto;
	padding: 20px 10px 60px; 
	position: relative;
	width: 980px;
	z-index: 0;
}
#layout_content2 {
	margin: 0 auto;
	padding: 20px;
	width: 980px;
}
#footer-container {
	background-color: #DEDEDE;
	border-top: 1px solid #ccc;
	min-height: 130px;
/*	position: relative; */ /* removed to fix position bug - overlapped modal */
	width: 100%;
}
	#footer {
		color: #666;
		margin: 20px auto; 
		width: 1000px;
	}
	#footer p {
		font-size: 12px;
	}
	#footer a, #footer a:visited {
		color: #666;
	}
	#footer a:hover {
		color: #333;
	}

/* Page mask & modal */ 

.mask, #page-mask {
	background-color: #000;
	height: 100%;
	min-height: 3000px;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.6;
	filter: alpha(opacity=60);
	width: 100%;
	z-index: 1000; 
}
.modal {
	background-color: white;
	border:1px solid #333;
	border-radius: 3px;
	  -moz-border-radius: 3px;
	display: none; 
	margin-left: -350px; /* half of 700px width */
	min-height: 540px;
	padding: 20px;
	position: fixed; top: 60px; left: 50%;
	width: 700px;
	z-index: 1001;
}	
	.modal-title {
		border-radius: 3px 3px 0 0; /* match modal border radius */
		border-bottom: 1px solid #ccc;
		background-color: #f0f0f0; 
		padding: 6px; 
		position: relative; top: -20px; left: -20px;	
		width:726px; /* tied to width of modal plus padding, -4 px */
	}
	.modal-close { position: absolute; top:6px; right: 6px; }
	.modal hr { margin: 1em 0; }
/* .dutWrapper  {
    border: 1px solid #e0e0e0;
    height: 400px;
    margin: 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
} */
.interact-div {	position: relative; left:0;	top: 15px; }
	.interact-div .form-submit {
		display: inline-block;
		position: absolute; top: 0; right: 20px !important;
	}

/*
 * ================ LOGIN PAGE ================
 */
 
#page-bg {
	background: url('furniture/data-banner-bg.jpg') top left no-repeat #ccc; 
	min-height: 680px;  /* cover min-height of #layout_content (600px + 80px padding) */
	opacity: 0.4; filter: alpha(opacity=40) ;
	position: absolute; top: 0; left: 0; 
	width: 100%;
	z-index: -1; 
}
.overlay-container { 
	margin-top: 30px; 
	position:relative;
	margin-bottom: 15px;
}
	.overlay-half {
		background: url('furniture/bg-white-70.png') left top repeat #fff;
		border: 1px solid #a0a0a0;
		border-radius: 3px;
		min-height: 240px;
		max-height: 280px; 
		overflow: hidden;
		padding: 15px;
		position: absolute; top: 0;
		width: 450px;
	}
	.overlay-half.right { right:0px; }
		.overlay-half h3 {
			padding-bottom: 16px;
		}
	div.overlay-action {
		position: absolute; right: 15px; bottom: 15px;
	}

/*
 * =============== LANDING PAGE ================
 */

.datasets {	margin: 30px 0; position: relative; }
	.dataset { background-color: #f7f7f7;  border: solid #e0e0e0; border-width: 1px 0; margin-bottom: 9px; overflow:auto; padding: 15px; position: relative; }
	.permission-needed { float:right; margin-left: 30px; padding: 10px; text-align:center; width:130px; }
	.permission-needed.large { height:130px; }
		.dataset h3 { font-size: 18px; font-weight: bold; padding-bottom: 16px; }
		.dataset p { font-size: 16px; margin-bottom: 1em; max-width: 600px; }
		.dataset.accepted p { font-size: 12px; }
		.dataset .releaseDate { font-size: 12px; margin-left: 10px; }
		.dataset-box { background-color: #fff; border:1px solid #ccc; margin-bottom: 6px; padding:10px; text-align:center; width:180px; }
		p.accepted-terms { color: #444; font-size:11px; line-height: 23px; position: absolute; right: 20px; top: 20px;  }
	.show-more { background-image: url('furniture/icon-show-more.png'); background-position: bottom right; background-repeat: no-repeat; position: relative; }
		.show-more.hover { background-image: none; }
		.show-more-primary { opacity: 1; filter: alpha(opacity=100) ; }
			.hover .show-more-primary { opacity: 0.2; filter: alpha(opacity=20) ; }
		.show-more-overlay { color: #444; position: absolute; top: 60px; left: 25px; text-align: center; width: 150px; display:none; }
			.hover .show-more-overlay { display:block; }
	.dataset_toolbox { border: 2px #fff groove; border-width: 2px 0; height: 32px; margin:15px 0; overflow: visible; padding: 15px 0; }
		.dataset_tool { float:left; font-size: 12px; height:32px; margin-right: 20px; width: 200px; } 
		.dataset_tool:hover { background-color: #e0e0e0; }
        #dataset_tool_custom_group:hover { background-color: transparent ; }
		.dataset_tool select { padding: 6px; width: 200px; }
		.dataset_tool a { color: #444; display: inline-block; margin-left: 6px; padding-top: 8px; }
		.dataset_tool a:hover { color: #01db68; }
	.dataset_help { border:1px solid #f7f7f7; display: inline-block; font-size: 16px; margin-left: 6px; color: #0168db; padding: 3px 6px; } 
		.dataset_help:hover { background-color: #e7e7e7; border:1px inset #fff; color: #084fab; cursor: pointer; }
		
/* 
 * ================= HEADER =================
 */

#header { 
	background: #fff ; 
	position: relative ; 
	margin: 16px 0; 
	min-height: 72px ; 
	z-index: 1 ; 
}
	.header p { 
		color: #444;
		font-size: 16px;
		margin-bottom: 4px;
		max-width: 600px;
	}
	#user_info {
		color: #333 ; 
		display: block ; 
		font-size: 11px; 
		margin-right: 1em ; 
		position: absolute; top: 6px; right: 6px;
		white-space: nowrap;
	}
		#user_info b { 
			font-weight: normal ; 
			padding: 0 5px ; 
		}
		#user_info #timeLeft { 
			color: #000 ; 
			font-family: "Courier New",Courier,monospace ; 
			font-weight: bold ; 
			padding: 0 0 0 1px ; 
			white-space: nowrap ; 
		}
	#page-title {
		font-size: 32px;
		line-height: 1;
		margin-bottom: 20px;
	}

/*
 * =================== TOOLBAR ================== 
 */

#toolbar-positioner {
	position: relative; 
	left: -10px;
	margin-bottom: 45px;
}
#toolbar-container {
	height: 90px;
	position: relative; 
	width: 1000px;
}
#toolbar {
	height: 90px;
	padding:0;
	width: 1000px;
}
.toolset {
	background-color: #f7f7f7;
	border-left: 1px solid #ccc;
	float: right; 
/*	position:absolute; top:0; */
}
	.toolset.current-selection {
		float: inherit;
	}
	.toolset-header {
		background-color: #084fab; 
		color: #fff; 
		font-size: 9px; 
		height: 12px;
		padding: 2px 6px; 
		text-transform: uppercase; 
	}
	.toolset-content {
		height: 50px;
		padding: 9px 0 15px;
		margin-left: 12px; 
	}
		.toolset.current-selection .toolset-content { padding-left: 36px; } 
		.toolset-content p, .toolset-content h3 { margin:0; }
		.subject-group-icon { background:url('furniture/icon-subject-group.png') left top no-repeat; height: 24px; margin-left: -36px !important; padding-left: 36px; padding-top: 5px; }
		.session-icon { background:url('furniture/icon-session.png') left top no-repeat; height: 24px; margin-left: -36px !important; padding-left: 36px; padding-top: 5px; }
		.tool {
			border:1px solid #f7f7f7; 
			border-radius: 6px; 
			cursor: pointer;
			float: left;
			height: 48px;
			margin-right: 8px; 
			padding: 6px 6px 3px; 
		}
		.tool img {
			border: none;
			display: block;
			height:32px; width: 32px;
			margin: 0 auto;
		}
		.tool label {
			color: #666;
			display: block; 
			font-size: 12px; 
			font-weight: bold; 
			margin: 0 auto; 
			white-space: nowrap; 
		}
		.tool.disabled {
			cursor: default;
			opacity: 0.3;
		}
		.tool:not(.disabled):hover {
			background-color:#fff; 
			border:1px solid #ccc;
		}
		.selection-title, .currSubjDisplay {
			color: #666;
			font-size: 12px; 
			line-height: 1.3; 
		    width: 550px;
		}
			.currSubjDisplay a {
				font-size: 10px;
			}
		.currGroupName {
			max-height: 16px;
			max-width: 350px; 
			overflow: hidden;
		}
.inline-spacer { color: #ccc; margin: 0 10px; }

/*
 * ================ FILTER SET ===============
 */

#filterset-container {
	position: relative;
	width: 1000px;
}
.filter-container {
	height: 32px;
	position:relative;
}
	.filter-row {
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		clear:both;
		position:absolute; top:1px; /* left:-11px;  */
		width: 999px;
	}
	
	.filter-row div {
		float:left; 
	/*	height: 29px; */
		margin:0;
		padding:0;
		width:150px; 
		overflow:hidden;
	}
	.filter-row.active {
		background-color:#e4efff; border:1px solid #ccc; 
	}
		.filter-row.active div.selector {
			background: #e4efff url('furniture/select-bg.png') right center no-repeat;
			border: 1px solid #8fb1e8;
		}
		.filter-row.active div.selector.disabled {
			background: #e0e0e0 url('furniture/select-bg-disabled.png') right center no-repeat; 
			border: 1px solid #c0c0c0; 
		}
			.filter-row select {
				-webkit-appearance:none; /* destroy Mac menu chrome */
				background: transparent;
				border: none; 	
				border-radius: 0;
				height: 29px;
				margin: 0;
				padding: 4px;
				width: 150px;
				padding-right: 22px;
			}
			.filter-row input[type="text"] {
				background-color: #fffcc9;
				border:1px inset #8fb1e8; 	
				color: #666;
				font-size: 14px;
				height: 20px;
				margin: 2px;
				padding: 2px 4px;
			}
			.filter-row input[type="button"] {
				-webkit-appearance: none;
				background-color: #084fab;
				border: 1px solid #8fb1e8;
				color: #fff;
				font-size: 12px;
				font-weight: bold;
				height: 32px;
				margin-top:-1px;
				padding-left: 8px; 
				padding-right: 8px;
			}
			.filter-row input[type="button"]:enabled:hover, .filter-row input[type="button"]:enabled:active {
				background-color: #002f7a;
				cursor: pointer;
			}
			.filter-row input[type="button"]:disabled {
				background-color:#8fb1e8;
			}
			.filter-text input[type="text"] {
				width:137px;
			}
			.filter-between input[type="text"] {
				font-size:12px;
				width:45px !important;
			}
			.filter-button {
				width: 55px !important;
			}
	.filter-row.filtered {
		background: #f7f7f7;
		color: #666;
	}
		.filter-row.filtered div {
			border-right: 1px solid #ccc;
			height: 30px;
			padding: 0;
			width: 151px;
		}
		.filter-row.filtered div.selector {
		}
		.filter-edit, .filter-remove {
			float: left;
			font-size: 10px;
			margin: 0; 
			padding: 8px; 
		}
		.filter-edit a, .filter-remove a {
			color:#666;
			font-weight:normal !important;
		}
		
		.filter-row input[type="text"]:disabled {
			background-color:transparent;
			border: 1px solid #ccc;
		}


@-moz-document url-prefix() {
  .filter-row select {
		-webkit-appearance:none; /* destroy Mac menu chrome */
		background: transparent;
		border: none;
		border-radius: 0;
		height: 29px;
		margin: 0;
		padding: 4px;
		width: 150px;
	}
}
.ie .filter-row select {
    -webkit-appearance:none; /* destroy Mac menu chrome */
    background: transparent;
    border: none;
    border-radius: 0;
    height: 29px;
    margin: 0;
    padding: 4px;
    width: 150px;
}

/*
 * ====================== XNAT SCAN TABLE ===============================
 */

#total_dicom_files { font-size: 12px; font-weight: normal; }
.scanTable-container { 
	max-width: 980px;
	margin-bottom: 30px;
	overflow-x: auto;
	overflow-y: hidden;
}
table.scanTable {}
	.scanTable td, .scanTable th { padding: 4px; } 
	th.underscore { 
		background-color: #e7e7e7;
		border-bottom: 2px solid #999; 
		padding-right: 20px;
	}
	.scanTable tr {
		border-bottom: 1px solid #e0e0e0;
	}
	.scanTable tr:nth-child(4n), .scanTable tr:nth-child(4n+1) {
		background-color: #f7f7f7;
	}
	td.quality-usable { color:green; font-weight:bold; }
	td.quality-questionable { color:orange; font-weight:bold; }
	td.quality-unusable { color:red; font-weight:bold; }
	
table.scanDetails, table.scanTable table {}
	.scanDetails tr, table.scanTable table tr {
		background-color: transparent !important;
	}
		

/*
 * ====================== yui DATA TABLE - container =======================
 */

#dashboard_results { margin-top: 30px; overflow:auto; width: 978px; }

.yui-content { /* table content */
	background-color: #f0f0f0;
	border: 1px solid #cccccc; 
	font-size: 12px; 
	padding: 4px 8px; 
	width: 960px;
}
	.yui-hidden {
		display:none;
	}
	.yui-pg-container { 
		font-size: 12px; 
		margin: 6px 0; 
		white-space: nowrap ; 
		width: inherit !important; /* defeat bad inline style */
	}
	.yui-pg-first, .yui-pg-previous, .yui-pg-next, .yui-pg-last, .yui-pg-current, .yui-pg-pages, .yui-pg-page { 
		display: inline-block; 
		padding: 3px 6px; 
	}
	.yui-pg-container a {
		color: #06c; 
		text-decoration: underline; 
	}
	.xT_c {
		width: inherit !important;
	}


/*
 * ============================ yui DATA TABLE - NAV ========================
 */

.yui-navset-top, .yui-navset-bottom { /* padding: auto ;  */ }

.yui-navset { 
	position: relative ; 
}
.yui-nav {  /* table nav tabset */
	border-bottom: 5px solid #084FAB; 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	position: static;
	width: auto;
}
	.yui-nav li { 
		border:1px solid #ccc; 
		border-width: 1px 1px 0;
		border-radius: 1px 1px 0 0;
		display: inline-block; 
		height: 28px ; 
		margin: 0 3px 0 0 ; 
		overflow: hidden ; 
		padding: 1px 0 0; 
		vertical-align: bottom;
	}
		.yui-nav a { 
			background: #d8d8d8 url('furniture/sprite.png') repeat-x; 
			color: #000; 
			display: inline-block;
			font-weight: bold ;
			height: 28px;
			position: relative; 
			text-decoration: none; 
			vertical-align: bottom;
		}
		.yui-nav li em {
			font-style: normal;
		}
		.yui-nav a em { 
			cursor: pointer; 
			display: block;
			padding: 4px 14px 7px; 
			position: relative; 
		}
	.yui-nav .selected { 
		height: 29px ; 
		padding-top: 0; 
	}
		.yui-nav .selected a { 
			background: #084FAB url('furniture/sprite.png') repeat-x left -1400px; 
			color: #fff; 
			cursor: default; 
			height: 29px;
		}
	#tab_module ul.yui-nav select { 
		font-size: 11px !important ; 
		font-weight: normal !important ; 
		margin-top: -2px;
	}
	span.close {
		background: url('furniture/close.gif') 0 0 no-repeat;
		display: inline-block;
		height: 16px;
		position: relative; left: 4px; top: 5px;
		width: 16px;
	}


.yui-button { /* custom ui element */
	border: 1px solid #808080;
	border-radius: 3px;  
	background: url('furniture/sprite.png') repeat-x 0 0; 
	display: inline-block; 
	margin: auto 4px auto 0; 
	vertical-align: bottom; 
}
	.yui-button .first-child {
		/* margin: 0 1px; */
	}
	.yui-button button {
		background-color: transparent;
		border: none; 
		color: #000000; 
		font-size: 12px; 
		font-weight: bold;
		height: 28px; 
		line-height: 28px; 
		padding: 0 12px; 
		vertical-align: middle ; 
	}
		.yui-button:hover, .yuimenubar:hover { 
			background-position: 0 -1300px;
			border-color: #7D98B8;
		}
		.yui-button:active, yuimenubar:hover {
			background-position: 0 -1700px;
			border-color: #7D98B8;
		}
	.yui-menubar {
		background: url('furniture/sprite.png') repeat-x 0 0  ; 
		border: solid 1px #808080; 
		line-height: 2; 
	}
.yuimenubar { /* custom pull-down menu */
	background: url('furniture/sprite.png') repeat-x 0 0  ; 
	border: solid 1px #808080 ; 
	border-radius: 3px; 
	font-size: 12px !important ; 
	height: 28px;
	line-height: 2 ; 
	position: static;
}
	.yuimenubar .yuimenu { 
		position: absolute ; 
	}
	.yuimenubar ul, .yuimenu ul { 
		list-style-type: none ; 
	}
	.yuimenubar ul, .yuimenu ul, .yuimenubar li, .yuimenu li, .yuimenu h6, .yuimenubar h6 { 
		margin: 0 ; padding: 0 ; 
	}
	.yuimenubarnav .yuimenubaritem { 
		position: relative;
	}
		a.yuimenubaritemlabel {  
			color: #000 !important; 
			cursor: default ;
			font-size: 12px !important;
			font-weight: bold; 
			margin: -1px 0 ; 
			padding: 2px 10px ; 
			text-decoration: none !important; 
		}
		a.yuimenubaritemlabel-hassubmenu, a.yuimenuitem-hassubmenu { 
			background: url('furniture/menubaritem_submenuindicator.png') right center no-repeat  ; 
			padding-right: 30px;
		}
			a.yuimenubaritemlabel-hassubmenu-disabled { 
				background: url('furniture/menubaritem_submenuindicator_disabled.png') right center no-repeat  ; 
				color: #606060 !important;
				cursor: default;
				padding-right: 30px;
			}
		.yuimenu { /* block of options that appears on dropdown */
			/* top: -999em ; left: -999em ; */ 
			font-size: 11px;
			font-weight: normal !important;
			line-height: 16px;
		} 
			.yuimenu .bd { 
				background-color: #fff ; 
				border: 1px solid #808080 ;
				box-shadow: 1px 2px 9px #a0a0a0; 
			}
			.yuimenuitem { 
				padding: 3px 0 !important;
				margin: 1px 0 0 !important;
			}
			.yuimenuitem:hover, .yuimenuitem-selected {
				background-color: #e4efff;
			}
			a.yuimenuitemlabel { 
				color: #000; 
				cursor: default;
				display: block;
				padding: 0 20px; 
				text-align: left;
				text-decoration: none;  
			}
			.yuimenuitemlabel .helptext { 
				margin-top: -1.5em ; 
			}
			a.yuimenuitem-checked { 
				background: url('furniture/menuitem_checkbox.png') left center no-repeat  ; }

/* 
 * ================= DATA TABLE =======================
 */

table.x_rs_t, table.x_rs_t td, table.x_rs_t th {
	border-collapse: collapse;
	font-weight: normal;
	font-size: 12px !important; 
	line-height: 14px !important;
	margin: 0;
	white-space: nowrap;
}
	tr.x_rs_tr_head {
		background: url('furniture/sprite.png') repeat-x 0 0  !important; 
	}
	th.x_rs_th {
		background: url('furniture/sprite.png') repeat-x 0 0  !important;  /* repeats so we can alter on hover */
		border: solid #7f7f7f;
		border-width: 1px 1px 1px 0;
		color: #444;
		cursor: pointer; 
		font-weight: bold !important;
		padding: 4px 30px 4px 4px !important;
	}
	th.x_rs_th:hover {
		background-position: 0 -1300px;
	}
		th.sorted {
			background: #ccc url('furniture/menubaritem_submenuindicator.png') right center no-repeat  !important; 
		}
	td.x_rs_td { 
		border: 1px solid #7F7F7F ;
		padding: 2px 6px 2px 4px ; 
	}
	td.x_rs_td a { font-weight: bold ; }
	tr.even > td.sorted { background-color: #d3deee ; }
	tr.odd > td.sorted { background-color: #e4efff ; }
	th.sorted {  }
	td.x_rs_th:first-child { border-width: 1px; }
	th.x_rs_th:first-child { border-width: 1px; }
	td.ext-content { width: 300px ; white-space: normal ; } /* use for large text blocks with wrapped text */

/*
 * ============  YUI MODAL =============
 */

.yui-panel table { font-size: 12px; }

.yui-panel-container { font-size: 12px; line-height: 15px; padding: 0 1px ; }
.yui-panel { position: relative ; left: 0 ; top: 0 ; border-style: solid ; border-width: 1px 0 ; border-color: #808080 ; z-index: 1 ; }
.yui-panel .hd, 
.yui-panel .bd, 
.yui-panel .ft { border-style: solid ; border-width: 0 1px ; border-color: #808080 ; margin: 0 -1px ; }
.yui-panel .hd { border-bottom: solid 1px #ccc ; }
.yui-panel .bd, 
.yui-panel .ft { background-color: #F2F2F2 ; }
.yui-panel .hd { padding: 0 10px ; font-size: 12px ; line-height: 2 ; font-weight: bold ; color: #000 ; background: url('furniture/sprite.png') repeat-x 0 -200px  ; }
.yui-panel .bd { padding: 10px ; }
.yui-panel .ft { border-top: solid 1px #808080 ; padding: 5px 10px ; font-size: 77% ; }
.yui-dialog .ft { border-top: none ; padding: 0 10px 20px 10px ; font-size: 100% ; }
.yui-dialog .ft .button-group { display: block ; text-align: right ; }
.yui-dialog .ft button.default { font-weight: bold ; }
.yui-dialog .ft span.default { border-color: #304369 ; }
.yui-dialog .ft span.default .first-child { border-color: #304369 ; }
.yui-dialog .ft span.default button { }
.yui-dialog .ft span.yui-button-disabled { background-position: 0 -1500px ; border-color: #ccc ; }
.yui-dialog .ft span.yui-button-disabled .first-child { border-color: #ccc ; }
.yui-dialog .ft span.yui-button-disabled button { color: #a6a6a6 ; }
.yui-button.default { background: #084fab url('furniture/btn1_30px.png') repeat-x center center  ; color: #fff ; outline: none ; }

.container-close { position: absolute ; top: 5px ; right: 6px ; width: 25px ; height: 15px ; background: url('furniture/sprite.png') no-repeat 0 -300px  ; cursor: pointer ; }

.yui-panel-container .underlay { right: -1px ; left: -1px ; }

.yui-panel-container.matte { padding: 9px 10px ; background-color: #fff ; }
.yui-panel-container.shadow {  }
.yui-panel-container.shadow .underlay { position: absolute ; top: 30px ; left: -3px ; right: -3px ; bottom: -45px ; background-color: #000 ; opacity: .12 ; filter: alpha(opacity=12) ; z-index:-1; }

.yui-overlay, .yui-panel-container { visibility: hidden ; position: absolute ; top: 30px; z-index: 2 ; }

.yui-resize { position: relative ; zoom: 1 ; z-index: 0 ; }
.yui-resize-wrap { zoom: 1 ; }
.yui-draggable { cursor: move ; }

.yui-resize .yui-resize-handle { position: absolute ; z-index: 1 ; font-size: 0 ; margin: 0 ; padding: 0 ; zoom: 1 ; height: 1px ; width: 1px ; }
.yui-resize .yui-resize-handle-br { height: 5px ; width: 5px ; bottom: -7px ; right: 2px ; cursor: se-resize ; z-index: 2 ; }
.yui-resize .yui-resize-handle-bl { height: 5px ; width: 5px ; bottom: 0 ; left: 0 ; cursor: sw-resize ; z-index: 2 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-tl { height: 5px ; width: 5px ; top: 0 ; left: 0 ; cursor: nw-resize ; z-index: 2 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-tr { height: 5px ; width: 5px ; top: 0 ; right: 0 ; cursor: ne-resize ; z-index: 2 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-r { width: 5px ; height: 100% ; top: 0 ; right: 0 ; cursor: e-resize ; zoom: 1 ; }
.yui-resize .yui-resize-handle-l { height: 100% ; width: 5px ; top: 0 ; left: 0 ; cursor: w-resize ; zoom: 1 ; }
.yui-resize .yui-resize-handle-b { width: 100% ; height: 5px ; bottom: 0 ; right: 0 ; cursor: s-resize ; zoom: 1 ; }
.yui-resize .yui-resize-handle-t { width: 100% ; height: 5px ; top: 0 ; right: 0 ; cursor: n-resize ; zoom: 1 ; }

.yui-resize-proxy { position: absolute ; border: 1px dashed #000 ; visibility: hidden ; z-index: 1000 ; }

.yui-resize-hover .yui-resize-handle, .yui-resize-hidden .yui-resize-handle { opacity: 0 ; filter: alpha(opacity=0) ; }

.yui-resize-ghost { opacity: .5 ; filter: alpha(opacity=50) ; }

.yui-resize-knob .yui-resize-handle { height: 6px ; width: 6px ; }
.yui-resize-knob .yui-resize-handle-tr { right: -3px ; top: -3px ; }
.yui-resize-knob .yui-resize-handle-tl { left: -3px ; top: -3px ; }
.yui-resize-knob .yui-resize-handle-bl { left: -3px ; bottom: -3px ; }
.yui-resize-knob .yui-resize-handle-br { right: -3px ; bottom: -3px ; }
.yui-resize-knob .yui-resize-handle-t { left: 45% ; top: -3px ; }
.yui-resize-knob .yui-resize-handle-r { right: -3px ; top: 45% ; }
.yui-resize-knob .yui-resize-handle-l { left: -3px ; top: 45% ; }
.yui-resize-knob .yui-resize-handle-b { left: 45% ; bottom: -3px ; }

.yui-resize-status { position: absolute ; top: -999px ; left: -999px ; padding: 2px ; font-size: 80% ; display: none ; zoom: 1 ; z-index: 9999 ; }
.yui-resize-status strong, .yui-resize-status em { font-weight: normal ; font-style: normal ; padding: 1px ; zoom: 1 ; }

.yui-resize .yui-resize-handle { background-color: #F2F2F2 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-active { background-color: #7D98B8 ; zoom: 1 ; }
.yui-resize .yui-resize-handle-l, .yui-resize .yui-resize-handle-r, .yui-resize .yui-resize-handle-l-active, .yui-resize .yui-resize-handle-r-active { height: 100% ; zoom: 1 ; }

.yui-resize-knob .yui-resize-handle { border: 1px solid #808080 ; }
.yui-resize-hover .yui-resize-handle-active { opacity: 1 ; filter: alpha(opacity=100) ; }
.yui-resize-proxy { border: 1px dashed #426FD9 ; }
.yui-resize-status { border: 1px solid #A6982B ; border-top: 1px solid #D4C237 ; background-color: #FFEE69 ; color: #000 ; }

.yui-resize-status strong, .yui-resize-status em { float: left ; display: block ; clear: both ; padding: 1px ; text-align: center ; }
.yui-resize .yui-resize-handle-inner-r, 
.yui-resize .yui-resize-handle-inner-l { background: transparent url('furniture/layout_sprite.png') no-repeat 0 -5px  ; height: 16px ; width: 5px ; position: absolute ; top: 45% ; }
.yui-resize .yui-resize-handle-inner-t, 
.yui-resize .yui-resize-handle-inner-b { background: transparent url('furniture/layout_sprite.png') no-repeat -20px 0  ; height: 5px ; width: 16px ; position: absolute ; left: 50% ; }
.yui-resize .yui-resize-handle-br { background-image: url('furniture/layout_sprite.png') ; background-repeat: no-repeat ; background-position: -22px -62px ; }
.yui-resize .yui-resize-handle-tr { background-image: url('furniture/layout_sprite.png') ; background-repeat: no-repeat ; background-position: -22px -42px ; }
.yui-resize .yui-resize-handle-tl { background-image: url('furniture/layout_sprite.png') ; background-repeat: no-repeat ; background-position: -22px -82px ; }
.yui-resize .yui-resize-handle-bl { background-image: url('furniture/layout_sprite.png') ; background-repeat: no-repeat ; background-position: -22px -23px ; }

.yui-resize-knob .yui-resize-handle-t, .yui-resize-knob .yui-resize-handle-r, .yui-resize-knob .yui-resize-handle-b, .yui-resize-knob .yui-resize-handle-l, .yui-resize-knob .yui-resize-handle-tl, .yui-resize-knob .yui-resize-handle-tr, .yui-resize-knob .yui-resize-handle-bl, .yui-resize-knob .yui-resize-handle-br, .yui-resize-knob .yui-resize-handle-inner-t, .yui-resize-knob .yui-resize-handle-inner-r, .yui-resize-knob .yui-resize-handle-inner-b, .yui-resize-knob .yui-resize-handle-inner-l, .yui-resize-knob .yui-resize-handle-inner-tl, .yui-resize-knob .yui-resize-handle-inner-tr, .yui-resize-knob .yui-resize-handle-inner-bl, .yui-resize-knob .yui-resize-handle-inner-br { background-image: none ; }

.yui-resize-knob .yui-resize-handle-l, .yui-resize-knob .yui-resize-handle-r, .yui-resize-knob .yui-resize-handle-l-active, .yui-resize-knob .yui-resize-handle-r-active { height: 6px ; width: 6px ; }

.yui-resize-textarea .yui-resize-handle-r { right: -8px ; }
.yui-resize-textarea .yui-resize-handle-b { bottom: -8px ; }
.yui-resize-textarea .yui-resize-handle-br { right: -8px ; bottom: -8px ; }

/*
 * ==================== SUBJECT PAGE ==================
 */

.report-info-block { border-top: 1px solid #e0e0e0; margin: 16px 0; padding:16px 0; }

/*
 * ================================== PACKAGE DOWNLOADER ==================
 */
 
/* located in /xnat/style/downloadPackages.css */

