@charset "utf-8";
/* CSS Document */

.Utility {
    color: /* #333 */ #cc33cc;
}

.NodeName {
    /* font-weight: bold ; */
    color: /* #800080 */ #cc33cc;
}

.AttributeName {
    /* font-weight: bold ; */
    color: #333;
    /* background: yellow ; */
}

.AttributeValue {
    color: blue;
}

.NodeValue {
    margin: 0 8px;
    color: #333;
}

.Element {
    /* border-left: 1px dashed /* #00FF66 */ /* #ccc; */
    padding: 0;
    margin: 6px 0 6px 24px !important;
    left: 0 !important;
    /* background: rgba(80,160,255,0.1) ; */
}

.Clickable {
    display: none ;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    font-weight: normal;
    /* font-size:large; */
    text-align: center;
    line-height: 12px;
    vertical-align: middle;
    color: /* #800080 */ #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
    /* vertical-align:middle; */
    border-radius: 3px ;
}
