<!-- Sequence: 20 -->
<li><a href="#information">Archive Headers</a>
    <ul>
        <li><a href="$link.setPage("XDATScreen_ArchiveHeaders.vm").addPathInfo("numdays","1")">One Day</a></li>
        <li><a href="$link.setPage("XDATScreen_ArchiveHeaders.vm").addPathInfo("numdays","7")">One Week</a></li>
        <li><a href="$link.setPage("XDATScreen_ArchiveHeaders.vm").addPathInfo("numdays","30")">One Month</a></li>
        <li><a href="$link.setPage("XDATScreen_ArchiveHeaders.vm").addPathInfo("numdays","365")">All</a></li>
    </ul>
</li>
